/* GOOGLE FONTS IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Montserrat:wght@200&display=swap");

@keyframes content-zoom {
  /** Content background animation **/
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
::-webkit-scrollbar {
  /** Scrollbar styling **/
  width: 10px;
}
::-webkit-scrollbar-track {
  /** Scrollbar styling **/
  background: #ffaa2a;
}
::-webkit-scrollbar-thumb {
  /** Scrollbar styling **/
  background: #333;
}
::-webkit-scrollbar-thumb:hover {
  /** Scrollbar styling **/
  background: #ff7100;
}
::placeholder {
  /** Color of placeholder text **/
  color: #ffaa2a;
}
:-ms-input-placeholder {
  /** Color of placeholder text **/
  color: #ffaa2a;
}
::-ms-input-placeholder {
  /** Color of placeholder text **/
  color: #ffaa2a;
}
option {
  /** Color of "select" background **/
  background: rgba(49, 54, 57, 0.95);
}

/* Cursor */
* {
  box-sizing: border-box;
  cursor: url("../cursor_new.png"), auto;
}

/* Body */
body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: 100%;
  max-width: 100%;
}

/* Main */
main {
  padding-top: 200px;
}

/* Navbar CSS */
.offcanvas-body .navbar-nav,
.navbar-brand,
.offcanvas-body form {
  padding: 20px;
}

a.nav-link,
.dropdown-menu {
  font-family: Creepster, sans-serif;
  background-color: #5097a0;
  color: black;
  font-size: 2em;
}

a.nav-link.active {
  color: #3b0156 !important;
}

a.nav-link:hover,
.dropdown-item:hover {
  color: #ff7100;
  background-color: #5097a0;
}

/* Header */
.header {
  margin-bottom: 20px;
}

/* Logo */
img.logo-image {
  height: 100px;
  width: 100px;
  margin-left: 12px;
}
/*-------------------------------INDEX PAGE------------------------------------------------*/

/* Carousel CSS */
.carousel {
  margin: 3rem auto;
  width: 70vw;
}

.carousel-inner {
  justify-content: center;
  height: 100% !important;
  border-radius: 10px;
}
.carousel-item {
  height: 50vh;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel-card {
  width: 80%;
  /* background-color: #ff7100; */
  background-color: #b3001b;
  border: 3px solid black;
  margin: 3rem;
}
/* Home index card */
.index-card {
  width: 85%;
  background-color: #5097a0;
  border: 3px solid black;
}
.index-card-title {
  display: flex;
  font-family: Creepster, sans-serif;
  justify-content: center;
  text-align: center;
  color: #b3001b;
  text-decoration: underline;
  font-size: 4rem;
}

.index-card-text {
  text-align: center;
  font-family: Creepster, sans-serif;
  font-size: 2rem;
  color: #000000;
  padding: 10px;
}

/* Home index main */
.index-main {
  background-color: #ffaa2a;
}

/* Home index banner image */
.index-banner {
  width: 100%;
  text-align: center;
  position: relative;
}

.index-banner img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  opacity: 0.5;
}

/* Home index rounded image */
.rounded-image {
  border-radius: 10px;
}

/* GALLERY  */
.gallery-img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
}

.gallery-tile {
  background-color: #b3001b;
  /* width: 20vw;
  height: 20vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
  padding: 15px;
}
/* ABOUT PAGE */
.about-card {
  width: 80%;
  background-color: #5097a0;
  border: 3px solid black;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.about-main {
  background-color: #ffaa2a;
}

/* About banner image */
.about-banner {
  width: 100%;
  text-align: center;
  position: relative;
}

.about-banner img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  opacity: 0.5;
}

/* About text */
.about-text {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  color: #282828;
  font-weight: bold;
  line-height: 2em;
}

/* About card & events */
.about-card img {
  height: 100%;
}

.about-events {
  font-family: Creepster, sans-serif;
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background-color: #ff7100;
  font-size: 5rem;
}

.past-events {
  font-family: Creepster, sans-serif;
  text-align: center;
  font-size: 3.5rem;
  padding-top: 1em;
  color: black;
}

.about-event-card {
  font-family: Creepster, sans-serif;
  font-size: 2rem;
}

/* Contact */
/* Contact banner image */
.user-contact-banner {
  width: 100%;
  text-align: center;
  position: relative;
}

.bsn-contact-banner {
  width: 100%;
  text-align: center;
  position: relative;
}

.user-contact-banner img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  opacity: 0.5;
}

.bsn-contact-banner img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  opacity: 0.5;
}

/* Contact heading */
.custom-contact-heading {
  position: relative;
  font-family: Creepster, sans-serif;
  text-align: center;
  color: black;
  background-color: #ff7100;
  font-size: 5rem;
  top: -8vh;
}

/* Contact main */
.contact-main {
  background-color: #ffaa2a;
}

/* Contact image */
.contact-image {
  margin-left: 5vw;
  border-radius: 1vh;
  box-shadow: 5px 5px 5px #000000;
}

/* Contact card */
.contact-card {
  background-color: #5097a0;
}

/* Contact form */
.form-control {
  background-color: hsl(35, 100%, 75%);
  font-family: Creepster, sans-serif;
}

input[type="radio"] {
  accent-color: #ff7100;
}

input[type="file"]::file-selector-button {
  border: 2px solid #ff7100;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #ffaa2a;
  transition: 1s;
}

.custom-contact-btn {
  margin-left: 10px;
  background-color: #ffaa2a;
  color: #000;
  border: 2px solid #000;
  font-family: Creepster, sans-serif;
  font-size: 150%;
  font-weight: 600;
}

.custom-contact-btn:hover {
  color: #ffaa2a;
  background-color: #000;
  border: 2px solid #ffaa2a;
}

/* Footer CSS */
.footer {
  margin: 16px auto 0 auto;
}

.trademark {
  text-align: center;
  margin: 0;
}

/* gallery CSS */

/* 
#picture-1{
  margin-left: 10vw;
  margin-top: 10vh;
}

#picture-2 {
  margin-top: 3vh;
  margin-left: 2vw;
}

#picture-3 {
  margin-top: 3vh;
  margin-left: 2vw;
}

#picture-4 {
  margin-top: 0vh;
  margin-left: 9vw;
}

#picture-5 {
  margin-top: 0vh;
  margin-left: 2vw;
}

#picture-6 {
  margin-top: 2vh;
  margin-left: 2vw;
}

#picture-7 {
  margin-top: 1vh;
  margin-left: 5vw;
}

#picture-8 {
  margin-top: 1vh;
  margin-left: 1vw;
}

#picture-9 {
  margin-top: 4vh;
  margin-left: 2vh;
}

#picture-10 {
  margin-top: 4vh;
  margin-left: 4vw;
}

#picture-11 {
  margin-top: -95vh;
  margin-left: 44vw;
}

#picture-12 {
  margin-top: -40vh;
  margin-left: 35vw;
}

#picture-13 {
  margin-top: 2vh;
  margin-left: 15vw;
}

#picture-14 {
  margin-top: -125vh;
  margin-left: 66vw;
}

#picture-15 {
  margin-top: -47vh;
  margin-left: 100vh;
} */

/* --------------- EVENTS PAGE ------------- */

.overflow-hidden {
  overflow: hidden;
}

.events-main {
  background-color: #ffaa2a;
}

#map-container {
  height: 55vh;
}

#map {
  height: 51vh;
}

.add-shadow {
  box-shadow: 10px 10px 10px #000000;
}

.pos-relative {
  position: relative;
}

.pos-relative > img {
  height: 100%;
  width: 100%;
}

.event-image {
  border-radius: 1vh;
  box-shadow: 5px 5px 5px #000000;
}

.card-title {
  display: flex;
  font-family: Creepster, sans-serif;
  font-size: 150%;
  justify-content: center;
}

.card-text {
  font-family: Creepster, sans-serif;
  font-size: 120%;
  color: #282828;
}

.card-text-heading {
  font-family: Creepster, sans-serif;
  font-size: 120%;
  color: #1e1e1e;
}

.green-symbol {
  color: #1e8f9e;
}

.red-symbol {
  color: #7e2db7;
}

/* Events search */
.search-heading {
  font-family: Creepster, sans-serif;
  position: relative;
  text-align: center;
  color: black;
  font-size: 3rem;
}

#search-box {
  background-color: #ff7100;
  margin-bottom: 2rem;
  border-radius: 4px;
}

.search-button {
  margin-left: 10px;
  background-color: #ffaa2a;
  color: #000;
  border: 2px solid #000;
  font-family: Creepster, sans-serif;
  font-size: 150%;
  font-weight: 600;
}

.search-button:hover {
  color: #ffaa2a;
  background-color: #000;
  border: 2px solid #ffaa2a;
}

/* Events map */
#map-card {
  background-color: #ff7100;
}

.fixed-map {
  position: fixed;
  top: 24vh;
  z-index: 3;
}

#map-legend {
  font-family: Creepster, sans-serif;
  display: flex;
  justify-content: space-evenly;
  font-size: 130%;
  background-color: #ff7100;
}

#footer-events {
  z-index: 2;
}

.darker-card {
  background-color: #ff7100;
}

.lighter-card {
  background-color: #ffca80;
}

#logo-text {
  text-decoration: none;
  font-family: Creepster, sans-serif;
  color: #000;
  font-size: 300%;
}

#events-banner {
  position: relative;
  background: url(../images/banners/banner-events.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  top: -3vh;
}

.spacer {
  min-height: 30vh;
}

#search-query {
  background-color: hsl(35, 100%, 75%);
  font-family: Creepster, sans-serif;
}

.banner-background {
  /** Content background animation **/
  width: 100%;
  height: 100%;
  animation-name: content-zoom;
  animation-duration: 8s;
  animation-fill-mode: forwards;
}

#about-banner {
  background: url(../images/banners/banner-about.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  top: -3vh;
  position: relative;
}

#home-banner {
  background: url(../images/banners/banner-home.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  top: -3vh;
  position: relative;
}

#gallery-banner {
  background: url(../images/banners/banner-gallery.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  top: -3vh;
  position: relative;
}

#contact-banner {
  background: url(../images/banners/banner-contact.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  top: -3vh;
  position: relative;
}

/** -------------------- DEVS ---------------------- **/

#devs-banner {
  background: url(../images/banners/banner-devs.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  top: -3vh;
  position: relative;
}

.devs-title {
  font-size: 300%;
}

.frame-devs {
  border: 5px solid #000;
}

/** -------------------- 404 ---------------------- **/

#error-banner {
  background: url(../images/banners/banner-404.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  top: -3vh;
  position: relative;
}

.error-text {
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  color: #282828;
  font-weight: bolder;
  line-height: 2em;
}

#error-link {
  text-decoration: none;
  color: #282828;
}

#error-link:hover {
  text-decoration: none;
  color: #b3001b;
}

/* NAVBAR TESTING */
#navbar-tester {
  background-color: #5097a0 !important;
  /* background-color: #E119FF !important; */
}

/* MEDIA QUERIES */
@media screen and (max-width: 991px) {
  .contact-image {
    margin-left: 0;
  }
}

@media screen and (max-width: 840px) {
  /* About */
  .about-events {
    font-size: 3rem;
  }

  /* Contact */
  .custom-contact-heading {
    font-size: 200%;
  }

  .contact-div {
    margin: 0 20vw;
  }
}

@media screen and (max-width: 600px) {
  /* About */
  .about-events {
    font-size: 1.8rem;
  }

  /* Contact */
  .contact-div {
    margin: 0 5vw;
  }
}
