* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: 100%;
  max-width: 100%;
}
main {
  padding-top: 200px;
}
/* 
Navbar CSS */
.offcanvas-body .navbar-nav,
.navbar-brand,
.offcanvas-body form {
  padding: 20px;
}
.header {
  margin-bottom: 20px;
}

/* Carousel CSS */
.carousel,
.formContent {
  max-width: 30%;
  max-height: 20%;
  margin: 7rem auto;
}

.carousel-inner {
  justify-content: center;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.about-card {
  width: 80%;
}

/* Footer CSS */
.footer {
  margin: 16px auto 0 auto;
}

.trademark {
  text-align: center;
  margin: 0;
}


#picture-1 {
  margin-left: 10vw;
  margin-top: 10vh;
}

#picture-2 {
  margin-top: 3vh;
  margin-left: 2vw;
}

#picture-3 {
  margin-top: 3vh;
  margin-left: 2vw;
}

#picture-4 {
  margin-top:0vh;
  margin-left: 9vw;
}

#picture-5 {
  margin-top: 0vh;
  margin-left: 2vw;
}

#picture-6 {
  margin-top: 2vh;
  margin-left: 2vw;
}

#picture-7 {
  margin-top: 1vh;
  margin-left: 5vw;
}

#picture-8 {
  margin-top: 1vh;
  margin-left: 1vw;
}

#picture-9 {
  margin-top: 4vh;
  margin-left: 2vh;
}

#picture-10 {
  margin-top: 4vh;
  margin-left: 4vw;
}

#picture-11 {
  margin-top: -95vh;
  margin-left: 44vw;
}

#picture-12 {
  margin-top: -40vh;
  margin-left: 35vw;
}

#picture-13 {
  margin-top: 2vh;
  margin-left: 15vw;
}

#picture-14 {
  margin-top: -125vh;
  margin-left: 66vw;
}

#picture-15 {
  margin-top: -47vh;
  margin-left: 100vh;
}



