/* GOOGLE FONTS IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Montserrat&family=Lato:wght@200&display=swap");

@keyframes content-zoom {

  /** Content background animation **/
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

::-webkit-scrollbar {
  /** Scrollbar styling **/
  width: 10px;
}

::-webkit-scrollbar-track {
  /** Scrollbar styling **/
  background: #ffaa2a;
}

::-webkit-scrollbar-thumb {
  /** Scrollbar styling **/
  background: #333;
}

::-webkit-scrollbar-thumb:hover {
  /** Scrollbar styling **/
  background: #ff7100;
}

::placeholder {
  /** Color of placeholder text **/
  color: #ffaa2a;
}

:-ms-input-placeholder {
  /** Color of placeholder text **/
  color: #ffaa2a;
}

::-ms-input-placeholder {
  /** Color of placeholder text **/
  color: #ffaa2a;
}

option {
  /** Color of "select" background **/
  background: rgba(49, 54, 57, 0.95);
}

/* Cursor */
* {
  box-sizing: border-box;
  cursor: url("../cursor_new.png"), auto;
}

/* Body */
body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: 100%;
  max-width: 100%;
}

/* Main */
main {
  padding-top: 200px;
}

/* 
Navbar CSS */
.navbar {
  border-bottom: 2px solid black;
}

.offcanvas-body .navbar-nav,
.navbar-brand,
.offcanvas-body form {
  padding: 20px;
}

.offcanvas-header,
.offcanvas-body {
  text-align: center;
  background-color: #44a8ae;
}

a.nav-link,
.dropdown-menu {
  font-family: Creepster, sans-serif;
  background-color: #44a8ae;
  color: black;
  font-size: 2em;
}

a.nav-link.active {
  color: #3b0156 !important;
}

a.nav-link:hover,
.dropdown-item:hover {
  color: #580675;
  background-color: #44a8ae;
}

/* Header */
.header {
  margin-bottom: 20px;
}

/* Logo */
img.logo-image {
  height: 100px;
  width: 100px;
  margin-left: 12px;
}

.spooktacular {
  color: #850416;
}

button.navbar-toggler {
  margin-right: 15px;
}

/*------------------------------- INDEX PAGE ------------------------------------------------*/

/* Carousel CSS */
.carousel {
  margin: 3rem auto;
  width: 70vw;
}

.carousel-inner {
  justify-content: center;
  height: 100% !important;
  border-radius: 10px;
}

.carousel-item {
  height: 50vh;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel-card {
  width: 80%;
  background-color: #850416;
  border: 3px solid black;
  margin: 3rem;
}

/* Home index card */
.index-card {
  width: 85%;
  background-color: #44a8ae;
  border: 3px solid black;
}

.index-card-title {
  display: flex;
  font-family: Creepster, sans-serif;
  justify-content: center;
  color: #850416;
  font-size: 4rem;
  letter-spacing: 3px;
}

/* Home index main */
.index-main {
  background-color: #ffaa2a;
}

/* Home index banner image */
.index-banner {
  width: 100%;
  text-align: center;
  position: relative;
}

.index-banner img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  opacity: 0.5;
}

/* Home index rounded image */
.rounded-image {
  border-radius: 10px;
}

.about-card {
  width: 80%;
  background-color: #44a8ae;
  border: 3px solid black;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.gallery-tile {
  background-color: #850416;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
  padding: 15px;
}

/* ------------------------------------------ */
a.nav-link,
.dropdown-menu {
  font-family: Creepster, sans-serif;
  background-color: #44a8ae;
  color: black;
  font-size: 2em;
}

.footer-tester {
  font-family: Creepster, sans-serif;
  color: black;
  font-size: 2em;
  text-align: center;
}

a.nav-link.active {
  color: #850416 !important;
}

a.nav-link:hover,
.dropdown-item:hover {
  color: #580675;
  background-color: #44a8ae;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
}

/* ABOUT PAGE */
.about-card {
  width: 80%;
  background-color: #44a8ae;
  border: 3px solid black;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.about-main {
  background-color: #ffaa2a;
}

/* About banner image */
.about-banner {
  width: 100%;
  text-align: center;
  position: relative;
}

.about-banner img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  opacity: 0.5;
}

.about-text,
.index-card-text {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;

  color: #282828;
  line-height: 2em;
  letter-spacing: 1px;
  padding: 10px;
}

.index-card-title,
.index-card-text {
  text-align: center;
  font-weight: bold;
}

/* About card & events */
.about-card img {
  height: 100%;
}

.about-events,
.welcome,
.gallery-banner {
  font-family: Creepster, sans-serif;
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background-color: #ff7100;
  font-size: 5rem;
}

.past-events {
  font-family: Creepster, sans-serif;
  text-align: center;
  font-size: 4rem;
  padding-top: 1em;
  color: black;
}

.about-event-card {
  font-family: Creepster, sans-serif;
  font-size: 4rem;
  color: #850416;
}

/* Contact */
.user-contact-banner {
  width: 100%;
  text-align: center;
  position: relative;
}

.bsn-contact-banner {
  width: 100%;
  text-align: center;
  position: relative;
}

.user-contact-banner img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  opacity: 0.5;
}

.bsn-contact-banner img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  opacity: 0.5;
}

/* Contact heading */
.custom-contact-heading {
  position: relative;
  font-family: Creepster, sans-serif;
  text-align: center;
  color: black;
  background-color: #ff7100;
  font-size: 4rem;
  top: -3vh;
}

.feedback-heading {
  font-family: 'Creepster', sans-serif;
}

/* Contact main */
.contact-main {
  background-color: #ffaa2a;
}

/* Contact image */
.contact-image {
  margin-left: 5vw;
  border-radius: 1vh;
  box-shadow: 5px 5px 5px #000000;
}

/* Contact card */
.contact-card {
  background-color: #44a8ae;
  font-family: 'Montserrat', sans-serif;
}

/* Contact form */
.form-control {
  background-color: hsl(35, 100%, 75%);
  font-family: Creepster, sans-serif;
}

/* .user-input {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;

} */

input[type="radio"] {
  accent-color: #ff7100;
}

input[type="file"]::file-selector-button {
  border: 2px solid #ff7100;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #ffaa2a;
  transition: 1s;
}

.custom-contact-btn {
  margin-left: 10px;
  background-color: #ffaa2a;
  color: #000;
  border: 2px solid #000;
  font-family: 'Creepster', sans-serif;
  font-size: 150%;
}

.custom-contact-btn:hover {
  color: #ffaa2a;
  background-color: #000;
  border: 2px solid #ffaa2a;
}


/*------------------------------- GALLERY PAGE ------------------------------------------------*/
.trademark {
  color: black;
  text-align: center;
  margin: 0;
  text-decoration: underline;
}

.gallery-img {
  width: 80%;
  background-color: #44A8AE;
  border: 3px solid black;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.gallery-tile {
  background-color: #850416;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
  padding: 15px;
}

/*------------------------------- EVENTS PAGE ------------------------------------------------*/

.overflow-hidden {
  overflow: hidden;
}

.events-main {
  background-color: #ffaa2a;
}

#map-container {
  height: 55vh;
}

#map {
  height: 51vh;
}

.add-shadow {
  box-shadow: 10px 10px 10px #000000;
}

.pos-relative {
  position: relative;
}

.pos-relative>img {
  height: 100%;
  width: 100%;
}

.event-image {
  border-radius: 1vh;
  box-shadow: 5px 5px 5px #000000;
}

.card-title {
  display: flex;
  font-family: Creepster, sans-serif;
  font-size: 34px;
  justify-content: center;
  margin-top: 15px;
}

.card-text {
  font-family: Creepster, sans-serif;
  font-size: 120%;
  color: #282828;
}

.card-text-heading {
  font-family: Creepster, sans-serif;
  font-size: 120%;
  color: #1e1e1e;
}

.card-text-body {
  font-family: 'Montserrat', sans-serif;
}

.green-symbol {
  color: #1e8f9e;
}

.red-symbol {
  color: #7e2db7;
}

/* Events search */
.search-heading {
  font-family: "Creepster", sans-serif;
  position: relative;
  text-align: center;
  color: black;
  font-size: 3rem;
  margin-top: 6px;
}

#search-box {
  background-color: #44a8ae;
  margin-bottom: 2rem;
  border-radius: 4px;
}

.search-button {
  margin-left: 10px;
  background-color: #ffaa2a;
  color: #000;
  border: 2px solid #000;
  font-family: Creepster, sans-serif;
  font-size: 150%;
  font-weight: 600;
}

.search-button:hover {
  color: #ffaa2a;
  background-color: #000;
  border: 2px solid #ffaa2a;
}

/* Events map */
#map-card {
  background-color: #ff7100;
}

.fixed-map {
  position: fixed;
  top: 24vh;
  z-index: 3;
}

#map-legend {
  font-family: Creepster, sans-serif;
  display: flex;
  justify-content: space-evenly;
  font-size: 130%;
  background-color: #ff7100;
  letter-spacing: 1px;
}

#footer-events {
  z-index: 2;
}

.darker-card {
  background-color: #ff7100;
}

.lighter-card {
  background-color: #ffca80;
}

#logo-text {
  text-decoration: none;
  font-family: Creepster, sans-serif;
  color: #000;
  font-size: 300%;
}

#events-banner {
  position: relative;
  background: url(../images/banners/banner-events.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  top: -3vh;
}

.search-button {
  margin-left: 10px;
  background-color: #ffaa2a;
  color: #000;
  border: 2px solid #000;
  font-family: "Lato", sans-serif;
  font-size: 150%;
}

.search-button:hover {
  color: #ffaa2a;
  background-color: #000;
  border: 2px solid #ffaa2a;
}

.spacer {
  min-height: 30vh;
}

#search-query {
  background-color: hsl(35, 100%, 75%);
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

.banner-background {
  /** Content background animation **/
  width: 100%;
  height: 100%;
  animation-name: content-zoom;
  animation-duration: 8s;
  animation-fill-mode: forwards;
}

#about-banner {
  background: url(../images/banners/banner-about.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  top: -3vh;
  position: relative;
}

#home-banner {
  background: url(../images/banners/banner-home.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  top: -3vh;
  position: relative;
}

#gallery-banner {
  background: url(../images/banners/banner-gallery.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  top: -3vh;
  position: relative;
}

#contact-banner {
  background: url(../images/banners/banner-contact.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  top: -3vh;
  position: relative;
}

/** -------------------- DEVS ---------------------- **/
#devs-banner {
  background: url(../images/banners/banner-devs.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  top: -3vh;
  position: relative;
}

.devs-title {
  font-size: 300%;
}

.dev-card-text {
  font-family: 'Lato', sans-serif;
}

.dev-role-ability-task {
  font-family: 'Creepster', sans-serif;
  font-size: 22px;
  letter-spacing: 1px;

}

.frame-devs {
  border: 5px solid #000;
}

/** -------------------- 404 ---------------------- **/

#error-banner {
  background: url(../images/banners/banner-404.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  top: -3vh;
  position: relative;
}

.error-text {
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  color: #282828;
  font-weight: bolder;
  line-height: 2em;
}

#error-link {
  text-decoration: none;
  color: #282828;
}

#error-link:hover {
  text-decoration: none;
  color: #b3001b;
}

/* --------------------- ZOOOM -----------------*/

#zoom-nav {
  font-size: 300%;
}

.smooth-edges {
  border-radius: 5px;
}

.zoom-nav-element:hover {
  color: #b3001b;
}

#zoom-close{
    font-size: 300%;
}

/*------------------------------- FOOTER SECTION ------------------------------------------------*/
.footer {
  margin: 16px auto 0 auto;
}

#navbar-tester,
#footer {
  background-color: #44a8ae !important;
}

.spooktacular {
  color: #850416;
}
.footer-margin {
  border-top: 2px solid #000;
  background-color: #44A8AE !important;
}
.footer {
  margin: 16px auto 0 auto;
  background-color: #44A8AE !important;
  font-family: Creepster, sans-serif;
  color: black;
  text-align: center;
  z-index: 2;
}
.footer-brand {
  padding: 20px;
  text-decoration: none;
  color: black;
}
.footer-brand:hover {
  color: #850416;
}

/*------------------------------- MEDIA QUERIES ------------------------------------------------*/
@media screen and (max-width: 1200px) {
  .about-events {
    font-size: 4rem;
  }

}

  /* Events */
  .search-heading {
    font-size: 2rem;
  }
  /* Events */
  .search-heading {
    font-size: 2rem;
  }

  .feedback-heading {
    font-size: 1.5rem;
  }

  .custom-contact-heading {
    font-size: 3rem;
  }

  /* Gallery */
  .gallery-banner {
    font-size: 4rem;
  }
}

@media screen and (max-width: 991px) {
  .contact-image {
    margin-left: 0;
  }

  .about-events {
    font-size: 3.5rem;
  }

  .search-heading {
    font-size: 2rem;
  }

  .custom-contact-heading {
    font-size: 3rem;
  }

}

@media screen and (max-width: 840px) {

  /* About */
  .about-events {
    font-size: 2.5rem;
  }

  .welcome,
  .past-events,
  .custom-contact-heading,
  .about-event-card,
  .index-card-title {
    font-size: 3rem;
  }

  /* Contact */
  .contact-div {
    margin: 0 20vw;
  }

  /* Events */
  .search-button {
    font-size: 100%;
  }

  /* Gallery */
  .gallery-banner {
    font-size: 3rem;
  }

}

@media screen and (max-width: 700px) {

  /* About */
  .about-event-card,
  .custom-contact-heading,
  .gallery-banner {
    /* font-size: 1.5rem; */
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 600px) {

  /* About */
  .about-events,
  .spooktacular,
  .gallery-banner {
    font-size: 2rem;
  }

  .past-events {
    font-size: 2.5rem;
  }

  /* Home */
  .welcome {
    font-size: 2.5rem;
  }

  /* Contact */
  .contact-div {
    margin: 0 5vw;
  }

  .custom-contact-heading {
    font-size: 2rem;
  }
}

.card-text-body {
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 500px) {

  /* Contact */
  .custom-contact-heading {
    font-size: 1.5rem;
  }

  /* Gallery */
  .gallery-banner {
    font-size: 1.8rem;
  }
}